/*
.red{
    background-color: red;
    height: 100px;
    width: 300px;
}
.pink{
    background-color: hotpink;
    height: 100px;
    width: 300px;
}
.fuschia{
    background-color: fuchsia;
    height: 100px;
    width: 300px;
}
.purple{
    background-color: purple;
    height: 100px;
    width: 300px;
}
.ultramarine{
    background-color: royalblue;
    height: 100px;
    width: 300px;
}
.blue{
    background-color: blue;
    height: 100px;
    width: 300px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
*/
.logo{
    height: 75px;
    padding: 0px;
}
.logo:hover{
    width:75px;
    height: 74px;
}
/*nav styles*/
.nav-list{
    padding: right;
    float: right;
    list-style-type: none;
}
.main-nav{
    height: 75px;
    background-color: gray;
}
.center{
    text-align: center;
    font-size: 18px;
}
.center:hover{
    font-size: 20px;
    width: 75px;
    height: 75px;
    padding: 8px 24px;
}
body{
    
    margin: 0;
}
li{
    color: aliceblue;
    float: left;
    padding: 14px 16px;
}
.content{
    height: 100vh;
}

.footer{
    background-color: gray;
   
}
.social-media{
    height: 60px;
    margin-bottom: 0;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.video{
    height: 250px;
    position: relative;
    top: 44%;
    width: 400px;
    margin: 0 auto;
}
.map{
    height: 50vh;;
    width: 99.7%;
    position: absolute;
    top: 12%;
    margin: 0 auto;
}
.audio{
    left: 40%;
    position: absolute;
    top: 64vh;  
    margin: 0 auto;
    display: block;
    width: 250px;   
}
